@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: "Poppins", "Noto Sans JP", sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  max-width: 100%;
  vertical-align: top;
}

button {
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 4px;
  cursor: pointer;
}

.btn {
  width: 230px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #035271;
  border-radius: 6px;
  color: #fff;
  font-size: 13px;
  line-height: 26px;
  letter-spacing: 0.1em;
}

.btn img {
  margin-left: 15px;
}

.btn.gray {
  color: #035271;
  background-color: #f2f2f2;
}

.btn.white {
  color: #035271;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #035271;
}

.swiper-pagination-bullet {
  width: 70px;
  height: 2px;
}

.swiper-pagination-bullet-active {
  background-color: #000;
}

.header {
  max-width: 1580px;
  width: 100%;
  margin: 0 auto;
  padding: 23px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 10;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header.scrollDown {
  background-color: rgba(0, 0, 0, 0.5);
}

.header a {
  color: #fff;
}

.header .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .right .menu a {
  margin-right: 80px;
}

.header .right .menu a:last-child {
  margin-right: 0;
}

.header .right .loginJoin {
  margin-left: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .right .loginJoin .line {
  width: 1px;
  height: 12px;
  margin: 0 12px;
  background-color: #e0e0e0;
}

.header .right .snsWrap {
  margin-left: 42px;
}

.header .menuOpen {
  width: 30px;
  height: 20px;
  position: relative;
  cursor: pointer;
  display: none;
}

.header .menuOpen.on span {
  background-color: #333;
}

.header .menuOpen.on span:nth-child(1) {
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

.header .menuOpen.on span:nth-child(2) {
  display: none;
}

.header .menuOpen.on span:nth-child(3) {
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

.header .menuOpen span {
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header .menuOpen span:nth-child(1) {
  top: 0;
}

.header .menuOpen span:nth-child(2) {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header .menuOpen span:nth-child(3) {
  bottom: 0;
}

.footer {
  padding-top: 70px;
  padding-bottom: 90px;
  background-color: #f8f8f8;
  color: #666;
}

.footer .inner {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1280px) {
  .footer .inner {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.footer .inner .tx2 {
  margin-right: 10px;
}

.footer .inner .tx2 .bold {
  margin-right: 5px;
  font-weight: 500;
}

.footer .inner .tx2:last-child {
  margin-right: 0;
}

.mainVisual img {
  width: 100%;
}

.notice {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding-top: 200px;
}

@media (max-width: 1280px) {
  .notice {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.notice .title {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.notice .title .tx1 {
  font-size: 40px;
  line-height: 60px;
  color: #035271;
}

.notice .title .moreBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #333;
}

.notice .title .moreBtn img {
  margin-left: 15px;
}

.notice .itemWrap .item {
  padding-top: 30px;
  padding-bottom: 70px;
  border-top: 1px solid #b7b7b7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.notice .itemWrap .item > div {
  width: 50%;
}

.notice .itemWrap .item > div:first-child {
  padding-right: 30px;
}

.notice .itemWrap .item .tx1 {
  font-size: 22px;
  font-weight: 700;
  line-height: 40px;
  color: #333;
}

.notice .itemWrap .item .tx2 {
  font-size: 14px;
  line-height: 26px;
  color: #999;
}

.notice .itemWrap .item .tx3 {
  font-size: 14px;
  line-height: 26px;
  color: #666;
}

.mainCon1 {
  margin-top: 70px;
  background-image: url(../img/mainCon1.png);
  background-repeat: no-repeat;
  background-position: center;
}

.mainCon1 .inner {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding-top: 270px;
  padding-bottom: 670px;
}

@media (max-width: 1280px) {
  .mainCon1 .inner {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.mainCon1 .inner .txBox {
  max-width: 420px;
  width: 100%;
  margin-left: auto;
}

.mainCon1 .inner .txBox .title {
  font-weight: 500;
  font-size: 30px;
  line-height: 43px;
  color: #666666;
}

.mainCon1 .inner .txBox .desc {
  margin-top: 38px;
  font-size: 16px;
  line-height: 26px;
  color: #999999;
}

.weAreInstagram {
  padding-bottom: 250px;
  position: relative;
}

.weAreInstagram::after {
  content: "";
  position: absolute;
  top: 50%;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #eaedf0;
}

.weAreInstagram .inner {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 1280px) {
  .weAreInstagram .inner {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.weAreInstagram .inner .title {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.weAreInstagram .inner .title .tx1 {
  font-size: 40px;
  line-height: 60px;
  color: #035271;
}

.weAreInstagram .inner .title .tx2 {
  font-size: 16px;
  line-height: 26px;
}

.weAreInstagram .inner .title .tx2 span {
  margin-left: 10px;
  text-decoration: underline;
  font-weight: 500;
}

.weAreInstagram .inner .weAreInstagramSwiper {
  overflow: visible;
}

.studios .inner {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 1280px) {
  .studios .inner {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.studios .inner .title {
  margin-bottom: 40px;
  font-size: 40px;
  line-height: 60px;
  color: #035271;
}

.studios .inner .con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.studios .inner .con .left {
  width: 50%;
}

.studios .inner .con .right {
  width: 50%;
  padding-left: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.studios .inner .con .right .title {
  margin-bottom: 0;
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
  color: #035271;
}

.studios .inner .con .right .desc {
  margin-top: 40px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  color: #666666;
}

.studios .inner .con .right .tx1 {
  margin-top: 20px;
  line-height: 28px;
  font-weight: 300;
  color: #666;
}

.studios .inner .con .right .tx2 {
  margin-top: 5px;
  color: #666;
  font-weight: 300;
}

.studios .inner .con .right .swiperControl {
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.studios .inner .con .right .swiperControl .swiper-button-next,
.studios .inner .con .right .swiperControl .swiper-button-prev {
  margin: 0;
  position: relative;
  top: auto;
  bottom: auto;
  right: auto;
  left: auto;
}

.studios .inner .con .right .swiperControl .swiper-button-next:after,
.studios .inner .con .right .swiperControl .swiper-button-prev:after {
  display: none;
}

.studios .inner .con .right .swiperControl .swiper-horizontal > .swiper-pagination-bullets,
.studios .inner .con .right .swiperControl .swiper-pagination-bullets.swiper-pagination-horizontal,
.studios .inner .con .right .swiperControl .swiper-pagination-custom,
.studios .inner .con .right .swiperControl .swiper-pagination-fraction {
  width: 80px;
  position: relative;
  top: auto;
  bottom: auto;
  right: auto;
  left: auto;
}

.studios .inner .con .right .btn {
  width: 230px;
  margin-top: 50px;
}

.equipment.equipmentSwiper {
  margin-top: 120px;
  padding-bottom: 280px;
}

.equipment .inner .con .right {
  padding-left: 0;
  padding-right: 100px;
}

.main_bgArea {
  background-image: url(../img/main_bg_1.png);
  background-position: center bottom;
  background-size: cover;
}

.relatedBrands {
  padding-top: 110px;
  padding-bottom: 140px;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 1280px) {
  .relatedBrands {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.relatedBrands .title {
  margin-bottom: 50px;
  font-size: 40px;
  line-height: 60px;
  color: #035271;
}

.relatedBrands .imgWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.relatedBrands .imgWrap .img {
  width: 300px;
  height: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #cccccc;
  border-radius: 6px 6px 30px 6px;
}

.bottomBtn {
  max-width: 1920px;
  width: 100%;
  margin: 100px auto 0;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.bottomBtn .btn {
  width: 320px;
  height: 65px;
  margin-left: 10px;
  font-size: 16px;
  font-weight: 500;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.pageTitle {
  padding-bottom: 75px;
  font-size: 32px;
  font-weight: 48;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-align: center;
}

.pageTitle::before {
  content: "";
  width: 1px;
  height: 80px;
  margin: 0 auto 20px;
  display: block;
  background-color: #ccc;
}

.program .studios {
  padding: 75px 0;
}

.tabWrap {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 1280px) {
  .tabWrap {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.tabWrap .tab_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid #e0e0e0;
  border-radius: 6px 6px 0px 0px;
}

.tabWrap .tab_header .tab_list {
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  color: #666;
}

.tabWrap .tab_header .tab_list:last-child::after {
  display: none;
}

.tabWrap .tab_header .tab_list::after {
  content: "";
  width: 1px;
  height: 20px;
  background-color: #e0e0e0;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.tabWrap .tab_header .tab_list.on {
  color: #035271;
  font-weight: 500;
}

.tabWrap .tab_header .tab_list.on::before {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #035271;
  z-index: 1;
}

.tabWrap .tab_con {
  margin-top: 100px;
}

.tabWrap .tab_con .title {
  font-weight: 500;
  font-size: 30px;
  line-height: 43px;
  color: #035271;
}

.tabWrap .tab_con .title.mt100 {
  margin-top: 100px;
}

.tabWrap .tab_con .sub_title {
  margin-top: 20px;
  font-size: 16px;
  line-height: 28px;
  color: #666666;
}

.table_1 {
  margin-top: 30px;
}

.table_1 .tr {
  border-top: 1px solid #e0e0e0;
}

.table_1 .tr:last-child {
  border-bottom: 1px solid #e0e0e0;
}

.table_1 .tr:first-child {
  border-top: 1px solid #333;
}

.table_1 .tr .td {
  padding: 30px 0;
}

.table_1 .tr .td .tx1 {
  font-size: 18px;
  line-height: 26px;
  color: #333333;
}

.table_1 .tr .td .tx2 {
  margin-top: 15px;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.1em;
  color: #999999;
}

.table_2 {
  margin-top: 60px;
}

.table_2 .tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid #e0e0e0;
}

.table_2 .tr:first-child {
  border-top: 2px solid #222;
}

.table_2 .tr:last-child {
  border-bottom: 1px solid #e0e0e0;
}

.table_2 .tr .th {
  width: 100%;
  height: 60px;
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.02em;
  color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.table_2 .tr .td {
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pageNavi {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pageNavi a {
  width: 25px;
  height: 25px;
  margin: 0 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pageNavi .bullet {
  width: 25px;
  height: 25px;
  margin: 0 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pageNavi .num {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pageNavi .num a {
  font-weight: 600;
  font-size: 13px;
  color: #999999;
}

.pageNavi .num a.on {
  color: #333;
}

.cardWrap {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1280px) {
  .cardWrap {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.cardWrap .card {
  margin-right: 55px;
}

.cardWrap .card:last-child {
  margin-right: 0;
}

.cardWrap .card .title {
  margin-top: 30px;
  font-weight: 500;
  font-size: 30px;
  line-height: 28px;
  color: #333333;
}

.cardWrap .card .desc1 {
  margin-top: 25px;
  font-size: 14px;
  letter-spacing: 0.1em;
  color: #666666;
}

.cardWrap .card .desc2 {
  margin-top: 25px;
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.1em;
  color: #666666;
}

.cardWrap .card .desc2 .bold {
  font-weight: 700;
}

.cardWrap .card .btn {
  width: 100%;
  margin-top: 15px;
}

.img_wrap {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 1280px) {
  .img_wrap {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.img_wrap img {
  margin-bottom: 30px;
}

.img_wrap img:last-child {
  margin-bottom: 0;
}

.enStyleLevel1 {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 1280px) {
  .enStyleLevel1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.enStyleLevel1 .title {
  margin-top: 150px;
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 28px;
  line-height: 28px;
  color: #035271;
}

.enStyleLevel1 .con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.enStyleLevel1 .con > div {
  width: 50%;
}

.enStyleLevel1 .con .tx {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 28px;
  color: #666666;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.enStyleLevel1 .con .tx .tx1 {
  width: 90px;
  font-weight: 500;
}

.enStyleLevel1 .con .blue {
  color: #035271;
}

.table_3 {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  margin-top: 50px;
}

@media (max-width: 1280px) {
  .table_3 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.table_3 .desc {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 28px;
  color: #035271;
  text-align: right;
}

.table_3 table {
  width: 100%;
  text-align: center;
  table-layout: fixed;
  border-spacing: 0px;
  border-collapse: collapse;
  border-bottom: 1px solid #e0e0e0;
}

.table_3 table tr th {
  height: 60px;
  border-top: 2px solid #222;
}

.table_3 table tr th:nth-child(4) {
  width: 50%;
}

.table_3 table tr td {
  height: 60px;
  border-top: 1px solid #e0e0e0;
}

.bottomBtn2 {
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottomBtn2 .btn {
  width: 380px;
  margin-right: 20px;
}

.bottomBtn2 .btn:last-child {
  margin-right: 0;
}

.qna {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 1280px) {
  .qna {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.qna .title {
  font-weight: 500;
  font-size: 30px;
  line-height: 45px;
  color: #035271;
}

.dropdown {
  border-bottom: 1px solid #e0e0e0;
}

.dropdown .drop {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #333333;
  cursor: pointer;
}

.dropdown .down {
  margin-bottom: 20px;
  padding: 30px;
  font-size: 16px;
  line-height: 25px;
  color: #333333;
  background-color: #fafafa;
  border-radius: 15px;
  display: none;
}

.dropdown.on .drop img {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.dropdown.on .down {
  display: block;
}

@media (max-width: 1280px) {
  .header {
    height: 70px;
    padding-top: 0;
    padding-bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .header a {
    color: #333;
  }
  .header .logo {
    width: 100px;
  }
  .header .right {
    height: 100vh;
    padding-top: 50px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: white;
  }
  .header .right.on {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header .right .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header .right .menu a {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 0;
    color: #333;
  }
  .header .right .loginJoin {
    margin-top: 30px;
    margin-left: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header .menuOpen {
    display: block;
  }
  .container {
    margin-top: 70px;
  }
}
/*# sourceMappingURL=style.css.map */