@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #333;
  display: inline-block;
}

button {
  width: 100%;
  cursor: pointer;
  border: 1px solid #333;
  background: none;
}

input {
  width: 100%;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #333;
  background: none;
  border: 1px solid #333;
}

input::-webkit-input-placeholder {
  color: #d4d4d4;
}

input:-ms-input-placeholder {
  color: #d4d4d4;
}

input::-ms-input-placeholder {
  color: #d4d4d4;
}

input::placeholder {
  color: #d4d4d4;
}

img {
  max-width: 100%;
  vertical-align: top;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #333;
  line-height: 1.5;
  word-break: keep-all;
}

.innerW {
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
}

.header .top {
  background-color: #f3f3f3;
  font-size: 13px;
}

.header .top .innerW {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .top .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .top .left a {
  width: 35px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .top .left a.fava {
  background-color: #a0d468;
}

.header .top .left a.insta {
  background-color: #e9e9e9;
}

.header .top .left .date {
  margin-left: 10px;
}

.header .top .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .top .right a {
  margin-right: 10px;
  padding-right: 10px;
  position: relative;
  color: #858585;
}

.header .top .right a::after {
  content: "";
  width: 1px;
  height: 14px;
  background-color: #cdcdcd;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
}

.header .top .right .curren {
  color: #858585;
}

.header .top .right .curren .green {
  color: #4c872b;
}

.header .top .right .curren .red {
  color: #ca0404;
}

.header .center {
  padding: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .center .search {
  position: relative;
}

.header .center .search input {
  width: 376px;
  height: 35px;
  border: 1px solid #d1d1d1;
}

.header .center .search button {
  width: 35px;
  height: 35px;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: none;
}

.header .center .right a {
  margin-right: 10px;
  padding: 4px 10px;
  border: 1px solid #d1d1d1;
  border-radius: 15px;
  font-size: 15px;
}

.header .bottom {
  background-image: url(../img/bg1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.header .bottom .innerW {
  padding: 18px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .bottom a {
  margin-right: 40px;
  font-size: 18px;
  color: #fff;
}

.header .bottom a:last-child {
  margin-right: 0;
}

.footer {
  height: 130px;
  background-color: #343434;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  margin-top: 30px;
  padding-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container > .left {
  width: 890px;
}

.container > .right {
  width: calc(100% - 890px);
  padding-left: 30px;
}

.con2 {
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.con3 {
  padding: 16px;
  border: 1px solid #d1d1d1;
}

.con4 {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.con4 .item {
  margin-bottom: 25px;
  text-align: center;
}

.con4 .item .btnWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: start;
      align-self: start;
}

.con4 .item .btnWrap a {
  width: 50%;
  height: 34px;
  margin-right: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 15px;
  color: #fff;
}

.con4 .item .btnWrap a:first-child {
  background-color: #457c27;
}

.con4 .item .btnWrap a:last-child {
  margin-right: 0;
  background-color: #515151;
}

.con5 {
  margin: 20px 0;
  border: 1px solid #d1d1d1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.con5 .board {
  width: 50%;
  padding: 40px 30px;
  border-right: 1px solid #d1d1d1;
}

.con5 .board:last-child {
  border-right: none;
}

.con5 .board .top {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.con5 .board .top .title {
  font-size: 20px;
  font-weight: 700;
}

.con5 .board .top .title .green {
  color: #457c27;
}

.con5 .board .top .more {
  color: #7b7b7b;
  font-size: 15px;
}

.con5 .board .list .item {
  width: 100%;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 15px;
}

.con5 .board .list .item:last-child {
  margin-bottom: 0;
}

.con5 .board .list .item .le {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.con5 .board .list .item .ri {
  color: #7b7b7b;
}

.con5 .board .list .item .right {
  color: #7b7b7b;
}

.con5 .board .list .item .num {
  min-width: 21px;
  height: 21px;
  margin-right: 5px;
  font-size: 14px;
  font-weight: 700;
  background-color: #8e8e8e;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.con5 .board .list .item .num.new {
  background-color: #ffce08;
}

.con5 .board .list .item .desc {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.con5 .board .list .item .come {
  margin-left: 3px;
}

.con6 .board {
  width: 33.3%;
}

.con7 {
  padding: 20px;
  text-align: center;
}

.con7 .title {
  font-size: 36px;
  font-weight: 900;
}

.con7 .desc {
  margin-top: 30px;
  font-size: 18px;
}

.con8 {
  margin-top: 70px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.con8 .item {
  margin-left: -1px;
  padding-left: 1px;
  border: 1px solid #d1d1d1;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.con8 .item .num {
  width: 60px;
  height: 60px;
  margin: 0 auto;
  border-radius: 50%;
  background-color: #457c27;
  color: #fff;
  font-size: 26px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: -50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.con8 .item .title {
  height: 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f1f1f1;
  font-size: 18px;
  font-weight: 700;
}

.con8 .item .desc {
  padding: 20px 30px;
  font-size: 15px;
}

.con9 {
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #a0d468;
  color: #fff;
}

.con9 a {
  color: #fff;
}

.con9 .title {
  margin-bottom: 15px;
  font-size: 25px;
  text-align: center;
}

.con9 .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.con9 .form .le {
  width: calc(100% - 86px);
  margin-right: 6px;
}

.con9 .form .le .inWrap {
  position: relative;
}

.con9 .form .le .inWrap:first-child {
  margin-bottom: 3px;
}

.con9 .form .le .inWrap img {
  position: absolute;
  left: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.con9 .form .le input {
  height: 35px;
  padding-left: 30px;
  padding-right: 10px;
  border: 1px solid #7fb14a;
  background-color: #fff;
  font-size: 15px;
}

.con9 .form .ri {
  width: 80px;
}

.con9 .form .ri button {
  height: 100%;
  background-color: #457c27;
  border: none;
  color: #fff;
  font-size: 15px;
}

.con9 .bo {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.con9 .bo .radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.con9 .bo .radio .text {
  margin-left: 7px;
}

.con9 .bo input[type="checkbox"] {
  display: none;
}

.con9 .bo input[type="checkbox"] + label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.con9 .bo input[type="checkbox"] + label::before {
  content: "";
  width: 28px;
  height: 15px;
  background-color: #fff;
  display: inline-block;
  position: relative;
  border-radius: 20px;
}

.con9 .bo input[type="checkbox"] + label::after {
  content: "";
  width: 8px;
  height: 8px;
  background-color: #a0d468;
  position: absolute;
  top: 50%;
  left: 4px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 50%;
}

.con9 .bo input[type="checkbox"]:checked + label::after {
  left: 16px;
}

.con9 .bo .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.con9 .bo .link .bullet {
  width: 1px;
  height: 10px;
  margin: 0 8px;
  background-color: #fff;
}

.con10 {
  margin: 20px 0;
}

.con10 a {
  margin-bottom: 10px;
}

.con10 a:last-child {
  margin-bottom: 0;
}

.con11 {
  font-size: 15px;
}

.con11 .board {
  margin-bottom: 10px;
}

.con11 .board:last-child {
  margin-bottom: 0;
}

.con11 .title {
  height: 50px;
  padding: 0 20px;
  background-color: #457c27;
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.con11 .title a {
  color: #fff;
}

.con11 .list {
  padding: 0 20px;
  border: 1px solid #d1d1d1;
}

.con11 .list .item {
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #d1d1d1;
}

.con11 .list .item:last-child {
  border-bottom: none;
}

.con11 .list .item .le {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.con11 .list .item .le .bullet {
  width: 7px;
  height: 7px;
  margin-right: 7px;
  border-radius: 50%;
  background-color: #c7c7c7;
}

.con11 .list .item .le .desc {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.con11 .list .item .le .new {
  width: 20px;
  height: 20px;
  background-color: #ffce08;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
}

.con11 .list .item .date {
  color: #858585;
}

@media (max-width: 1250px) {
  .container .left {
    width: calc(100% - 360px);
  }
  .container .right {
    width: 360px;
  }
  .con4 .item {
    width: 48%;
  }
  .con5 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .con5 .board {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #d1d1d1;
  }
  .con5 .board:last-child {
    border-bottom: none;
  }
  .con8 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .con8 .item + .item {
    margin-top: 70px;
  }
}

@media (max-width: 768px) {
  .header .top {
    display: none;
  }
  .header .center {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header .center .search {
    margin: 30px 0;
  }
  .header .bottom {
    display: none;
  }
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .left {
    width: 100%;
  }
  .container .right {
    width: 100%;
    padding-left: 0;
  }
  .con2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .con2 a:first-child {
    margin-bottom: 10px;
  }
  .con2 img {
    width: 100%;
  }
  .con4 .item {
    width: 100%;
  }
  .con7 .title {
    font-size: 25px;
  }
  .con7 .desc {
    font-size: 15px;
  }
  .con9 {
    display: none;
  }
  .con10 a {
    width: 100%;
  }
  .con10 img {
    width: 100%;
  }
  .con12 {
    width: 100%;
    margin-top: 20px;
  }
  .con12 img {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */