@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #333;
  display: inline-block;
}
button {
  cursor: pointer;
  border: 1px solid #333;
  background: none;
}
input {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #333;
  background: none;
  border: 1px solid #333;
}
img {
  vertical-align: top;
}
body {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #333;
  line-height: 1.5;
  word-break: keep-all;
}
.innerW {
  width: 1200px;
  margin: 0 auto;
}

.header {
  .top {
    background-color: #f3f3f3;
    font-size: 13px;
    .innerW {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .left {
      display: flex;
      align-items: center;
      a {
        width: 35px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        &.fava {
          background-color: #a0d468;
        }
        &.insta {
          background-color: #e9e9e9;
        }
      }
      .date {
        margin-left: 10px;
      }
    }
    .right {
      display: flex;
      a {
        margin-right: 10px;
        padding-right: 10px;
        position: relative;
        color: #858585;
        &::after {
          content: "";
          width: 1px;
          height: 14px;
          background-color: #cdcdcd;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 0;
        }
      }
      .curren {
        color: #858585;
        .green {
          color: #4c872b;
        }
        .red {
          color: #ca0404;
        }
      }
    }
  }
  .center {
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .search {
      position: relative;
      input {
        width: 376px;
        height: 35px;
        border: 1px solid #d1d1d1;
      }
      button {
        width: 35px;
        height: 35px;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        border: none;
      }
    }
    .right {
      a {
        margin-right: 10px;
        padding: 4px 10px;
        border: 1px solid #d1d1d1;
        border-radius: 15px;
        font-size: 15px;
      }
    }
  }
  .bottom {
    background-image: url(../img/bg1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    .innerW {
      padding: 18px 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    a {
      margin-right: 40px;
      font-size: 18px;
      color: #fff;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
.footer {
  height: 130px;
  background-color: #343434;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  margin-top: 30px;
  padding-bottom: 100px;
  display: flex;
  .left {
    width: 890px;
  }
}
.con2 {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
}
.con3 {
  padding: 16px;
  border: 1px solid #d1d1d1;
}
.con4 {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .item {
    margin-bottom: 25px;
    text-align: center;
    .btnWrap {
      display: flex;
      justify-content: space-between;
      align-self: start;
      a {
        width: 50%;
        height: 34px;
        margin-right: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 15px;
        color: #fff;
        &:first-child {
          background-color: #457c27;
        }
        &:last-child {
          margin-right: 0;
          background-color: #515151;
        }
      }
    }
  }
}
.con5 {
  margin: 20px 0;
  border: 1px solid #d1d1d1;
  display: flex;
  .board {
    width: 50%;
    padding: 40px 30px;
    border-right: 1px solid #d1d1d1;
    &:last-child {
      border-right: none;
    }
    .top {
      margin-bottom: 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .title {
        font-size: 20px;
        font-weight: 700;
        .green {
          color: #457c27;
        }
      }
      .more {
        color: #7b7b7b;
        font-size: 15px;
      }
    }
    .list {
      .item {
        width: 100%;
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
        font-size: 15px;
        &:last-child {
          margin-bottom: 0;
        }
        .le {
          width: 70%;
          display: flex;
          align-items: center;
        }
        .ri {
          color: #7b7b7b;
        }
        .right {
          color: #7b7b7b;
        }
        .num {
          min-width: 21px;
          height: 21px;
          margin-right: 5px;
          font-size: 14px;
          font-weight: 700;
          background-color: #8e8e8e;
          color: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
          &.new {
            background-color: #ffce08;
          }
        }
        .desc {
          width: 100%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .come {
          margin-left: 3px;
        }
      }
    }
  }
}
.con6 {
  .board {
    width: 33.3%;
  }
}
.con7 {
  padding: 20px;
  text-align: center;
  .title {
    font-size: 36px;
    font-weight: 900;
  }
  .desc {
    margin-top: 30px;
    font-size: 18px;
  }
}
.con8 {
  margin-top: 70px;
  margin-bottom: 20px;
  display: flex;
  text-align: center;
  .item {
    margin-left: -1px;
    padding-left: 1px;
    border: 1px solid #d1d1d1;
    position: relative;
    flex: 1;
    .num {
      width: 60px;
      height: 60px;
      margin: 0 auto;
      border-radius: 50%;
      background-color: #457c27;
      color: #fff;
      font-size: 26px;
      font-weight: 700;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: -50px;
      left: 50%;
      transform: translateX(-50%);
    }
    .title {
      height: 95px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #f1f1f1;
      font-size: 18px;
      font-weight: 700;
    }
    .desc {
      padding: 20px 30px;
      font-size: 15px;
    }
  }
}
